# Copy to .env and set values for your machine:
#   copy .env.example .env

ANDROID_UDID=emulator-5554
ANDROID_PLATFORM_VERSION=12.0
APK_PATH=C:/Users/Hp/Downloads/ApiDemos-debug.apk
WIKIPEDIA_APK_PATH=C:/Users/Hp/Downloads/org.wikipedia_x86_64.apk
